.banner {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),
        url(../img/banner.jpeg) 27% 72% / cover no-repeat;
    min-height: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__inner {
        text-align: center;
        color: var(--color-base);
        padding: .5rem;
        border-radius: 1rem;
        max-width: clamp(16.75rem, 16.75rem + 5vw, 23.75rem);

        h1 {
            font-size: clamp(2rem, 1rem + 2vw, 2.5rem);
            padding-bottom: .4rem;
        }

        h2 {
            font-weight: 400;
            letter-spacing: 1.5px;
            background-color: var(--color-secondary);
            padding-block: .1rem;
        }
    }
}