h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
}

p {
    font-size: 1rem;
    line-height: 1.1rem;
    @media (min-width: 900px) {
        line-height: 1.2rem;
    }
}

a, a:visited, a:active {
    text-decoration: none;
    color: var(--color-primary);
}