:root {
    --color-primary: #3A3845;
    --color-secondary: #874356;
    --color-tertiary: #F6E7D8;
    --color-hover: #daa978;
    --color-base: #ffffff;
        
    --font: 'Montserrat', sans-serif;
}